.popup__button-close{
    width: 26px;
    height: 26px;
    position: absolute;
    top:-55px;
    right:5px;
    background:none;
    flex-shrink: 0;
    border: 0;
    align-self: last baseline;
}

.popup__button-close:hover{
    opacity:0.7;
}