.profile{
    margin-top: 40px;
    min-width: 880px;
    height: 120px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

@media screen and (max-width: 767px) and (min-width:320px){
    .profile{
        min-width: 282px;
        height: 286px;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
    
}