.profile__info{
    width: 550px;
    height: 80px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 39px 39px;
    grid-template-columns: 373px, 22px;
    grid-gap: 5px;
    grid-template-areas:
    "name edit" 
    "job job";
    box-sizing: border-box;
    align-items: center;
    align-self: center;
}

@media screen and (max-width: 767px) and (min-width:320px){
    .profile__info{
        position: relative;
        width: 282px;
        height: 50px;
        align-content:last baseline;
        /* display: flex; */
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        column-gap:15px;
    }
    
}