.elements{
    position: relative;
    min-width: 880px;
    flex-shrink: 0;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    justify-content: center;
    grid-gap: 10px;
    list-style: none;
    z-index: 0;
}

@media screen and (max-width: 767px){
    .elements{
      min-width: 282px;
      display: flex;
      flex-direction: column;
      column-gap: 20px; 
    }
    }