.element{
    list-style: none;
    position: relative;
    width: 282px;
    height: 361px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content:space-between;
    column-gap:20px;
    /* align-content: center; */
    /* grid-area: element; */
}

.element__rectangle{
    background: #FFF;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 10px;
    z-index: -1;
}

.element__image{
    width: 282px;
    height: 282px;
    border-radius: 10px 10px 0px 0px;
    background-size:100%;
}

.element__info{
    margin: 15px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    padding-bottom: 25px;
    z-index: -1;
}

.element__text{
    width: 220px;
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.element__like{
    width: 20.759px;
    height: 18.131px;
    background-image: url("../images/element/Like.svg");
    background-color: white;
    border: 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
}


.element__like:hover{
    opacity:0.7;
}

.element__trash{
    width: 20.759px;
    height: 18.131px;
    background-image: url("../images/element/Trash.svg");
    position:absolute;
    top: 15px;
    right: 20px;
    background-color:unset;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border: 0;
    z-index: 1;
}

.element__trash:hover{
    opacity:0.7;
}