.header{
    margin-top: 45px;
    min-width: 880px;
    height: 74px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:41px;
}

.header__logo{
    background-image: url("../images/logo/logo.svg");
    width: 173px;
    height: 33px;
    flex-shrink: 0;
    align-self:first baseline;
}

.header__line{
    width: 880px;
    height: 1px;
    margin: 0;
}


@media screen and (max-width: 767px){
    
    .header{
    min-width: 320px;
    height: 56px;
    }

    .header__logo{
    background-size: 100%;
    }

    .header__line{
     width: 320px;
    }
}