.profile__name{
    width: 373px;
    height: 39px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Inter;
    font-size: 42px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    grid-area: name;
}


@media screen and (max-width: 767px) and (min-width:320px){
    .profile__name{
        width: 196px;
        height: 22px;
        font-size: 22px;
        text-align: center;
    }
}