.profile__info{
    width: 550px;
    flex-shrink: 0;
    display: grid;
    grid-template-rows: 373px, 22px;
    grid-template-columns: 415px;
    grid-template-areas:
    "name edit" 
    "job job";
    box-sizing: border-box;
    align-items: center;
}

@media screen and (max-width: 767px) and (min-width:320px){
    .profile__info{
        position: relative;
        width: 282px;
        height: 50px;
        align-content:last baseline;
        display: flex;
        flex-wrap: wrap;
        row-gap: 15px;
        text-align: center;
    }
    
}