.footer{
    position: relative;
    margin-top: 67px;
    margin-bottom: 60px;
    display: flex;
    min-width: 318px;
    height: 18px;
    flex-shrink: 0;
}

@media screen and (max-width: 767px) and (min-width:320px){
    .footer{
        min-width: 282px;
    }
    }